<template>
<v-layout class="layoutDisplay">
<v-flex xs12 sm12 offset-sm0>
    <v-card>
    	<v-container fluid grid-list-md style="border:solid;">
        <h1>Personal</h1>
          <v-layout row wrap>
            <v-flex
              v-bind="{ [`xs${card.flex}`]: true }"
              v-for="card in cards"
              :key="card.title"
            >
              <v-card>
                <v-card-media
                >
                  <v-container fill-height fluid>
                   <data-table></data-table>
                  </v-container>
                </v-card-media>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn icon>
                    <v-icon>favorite</v-icon>
                  </v-btn>
                  <v-btn icon>
                    <v-icon>bookmark</v-icon>
                  </v-btn>
                  <v-btn icon>
                    <v-icon>share</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
    </v-card>
</v-flex>
 <v-spacer></v-spacer>
</v-layout>
</template>
<script>
import image from '@/assets/planet.jpg'
export default {
  data () {
    return {
      cards: [
        { title: 'Favorite road trips', src: image, flex: 12 }
      ]
    }
  }
}
</script>
<style>
.layoutDisplay {
  height:100%;
}
.border {
  border:solid;
  size:100px;
  width:100%;
  height:40%;
  color:gray;
}
.profileDisplay {
  height: 600px;
}
.avatar-holder {
  margin: 100px;
  size:100%;
}
.headerDisplay {
  margin-bottom: 10px;
  height: 200px;
}
.carouselDisplay {
  border:solid;
  height: 300px;
}
</style>