<template>
  <v-flex xs12 sm12 offset-sm0 style="border:solid;">
    <v-container class="textDisplay" >
      <h1>SHOP</h1>
      <v-layout>
        <v-flex>
        <v-spacer></v-spacer>
        <v-card>
          <v-card-media>
            <expansion-panel></expansion-panel>  
          </v-card-media>
          <v-card-action></v-card-action>
        </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  	<v-container class="textDisplay">
  	  <v-layout>
  	  	<v-flex>
  	  	<v-card>
  	  	  <v-card-media>
          <expansion-panel></expansion-panel>  
  	  	  </v-card-media>
  	  	  <v-card-action>
          </v-card-action>
  	  	</v-card>
  	  	</v-flex>
  	  </v-layout>
  	</v-container>
  </v-flex>
</template>
<script >
  export default {
    data () {
      return {

      }
    }
  }
</script>
<style>
.textDisplay {
  margin: 2px;
  height:100%;
}
</style>