<template>
  <v-flex>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm6>
        <v-text-field solo label="First Name" v-model="first"></v-text-field>
      </v-flex>
      <v-flex xs12 sm6>
        <v-text-field solo-inverted label="Last Name" v-model="last"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs4 v-for="count in 6" key="count">
        <v-subheader>Second Field</v-subheader>
        <v-text-field
          name="input-2"
          label="Label Text"
          value="Input text"
          class="input-group--focused"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs4 v-for="count in 6" key="count">
        <v-subheader>Third Field</v-subheader>
        <v-text-field
          name="input-2"
          label="Label Text"
          value="Input text"
          class="input-group--focused"
        ></v-text-field>
      </v-flex>
    </v-layout>
  </v-container>
  </v-flex>
</template>
<script>
  export default {
    data () {
      return {

      }
    }
  }
</script>
<style>
</style>