<template>
<expand-ball :options="opts"  class="ball-pos">
    <label slot="ball-open">O</label>

    <span slot="menu" @click="clicked('M1')">M1</span>
    <span slot="menu" @click="clicked('M2')">M2</span>
    <span slot="menu" @click="clicked('M3')">M3</span>
    <span slot="menu" @click="clicked('M4')">M4</span>
    <span slot="menu" @click="clicked('M5')">M5</span>
    <span slot="menu" @click="clicked('M6')">M6</span>
</expand-ball>
</template>
<script lang="js" src="https://unpkg.com/vue/dist/vue.js"></script>
<script lang="js" src="node_modules/vue-expand-ball/dist/vue-expand-ball.js"></script>
<script lang="js">
export default {
  data () {
    return {
      VueExpandBall: window.VueExpandBall,
      opts: {
        ballSize: 50,
        menuSize: 90,
        menuColor: 'purple'
      }
    }
  },
  methods: {
    clicked (str) {
      alert(str + ' is just clicked!!')
    }
  }
}
</script>
<style type="stylus" scoped>
.ball-pos {
    bottom: 200px;
    right: 200px;
}
</style>