<template>
  <v-footer :fixed="fixed" app>
    <span>&copy; 2017</span>
  </v-footer>	
</template>

<script lang="js">
export default {
  data () {
    return {
      fixed: false
    }
  }
}
</script>