<template>
  <v-flex xs12 sm12 offset-sm0 style="border:solid;">
    <v-container class="textDisplay" >
      <h1>HOME</h1>
      <v-layout>
        <v-flex>
        <v-card>
        </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>
<script >
  export default {
    data () {
      return {
      }
    }
  }
</script>
<style>
.textDisplay {
  margin: 2px;
  height: 100%;
}
</style>