<template>
  <v-layout>
    <v-flex xs12 sm12 offset-sm0>
      <v-card>
        <v-card-media style="border:solid;">
         <img src="@/assets/buildings.jpg" alt="Vuetify.js" class="imageDisplay">
        </v-card-media>
        <v-card-title primary-title class="color1">
          <v-flex>
            <h3 class="headline mb-0">Kangaroo Valley Safari</h3>
            <div>Located two hours south of Sydney in the <br>Southern Highlands of New South Wales, ...</div>
          </v-flex>
        </v-card-title>
        <v-card-actions class="color2">
          <v-btn flat color="orange">Share</v-btn>
          <v-btn flat color="orange">Explore</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
<style>
.imageDisplay {
  height: 400px;
}
.color1 {
  background-color:#4A148C;
}
.color2 {
  background-color:#4A148C;
}
</style>