<template>
  <v-flex>
  <v-navigation-drawer
   v-model="drawer"
   class="bodyDisplay"
   dark
   app
   >
    <v-toolbar flat class="WelcomeDisplay">
      <v-list class="pa-0">
        <v-list-tile avatar>
          <v-list-tile-avatar x-large>
            <img src="https://randomuser.me/api/portraits/men/85.jpg" >
          </v-list-tile-avatar>
          <v-list-tile-content> 
            <v-list-tile-title class="nameDisplay"> Welcome! Joy</v-list-tile-title>
          </v-list-tile-content>
          <!-- <v-list-tile-action>
            <v-btn icon @click.stop="mini = !mini">
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile-action> -->
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-spacer>
      <img src="@/assets/hex.png" class="imgDisplay"></v-img>
    </v-spacer>
    <v-list dense class="menuDisplay">
      <v-list-tile v-for="(item,index) in items" :key="item.title" @click="">
        <v-list-tile-action class="iconDisplay">
            <v-icon v-if="index === 0" x-large>{{ item.icon }}</v-icon>
            <v-icon v-if="index === 1" x-large>{{ item.icon }}</v-icon>
            <v-icon v-if="index === 2" x-large>{{ item.icon }}</v-icon>
            <v-icon v-if="index === 3" x-large>{{ item.icon }}</v-icon>
            <v-icon v-if="index === 4" x-large>{{ item.icon }}</v-icon>
          <v-icon v-if="index === 5" x-large>{{ item.icon }}</v-icon>
        </v-list-tile-action>
          <router-link to="/personal">
            <v-list-tile-title v-if="index === 0" class="menu">{{ item.title }}</v-list-tile-title>
          </router-link>
          <router-link to="/HexInfo/new">
            <v-list-tile-title v-if="index === 1" class="menu">{{ item.title }}</v-list-tile-title>
          </router-link>
          <router-link to="/LeaderBoard">
          <v-list-tile-title v-if="index === 2" class="menu">{{ item.title }}</v-list-tile-title>
          </router-link>
          <router-link to="/Shop">
          <v-list-tile-title v-if="index === 3" class="menu">{{ item.title }}</v-list-tile-title>
          </router-link>
          <router-link to="/Credits">
          <v-list-tile-title v-if="index === 4" class="menu">{{ item.title }}</v-list-tile-title>
          </router-link>
          <router-link to="/Events">
          <v-list-tile-title v-if="index === 5" class="menu">{{ item.title }}</v-list-tile-title>
          </router-link>
      </v-list-tile>
    </v-list>
    <br>
  </v-navigation-drawer>
  </v-flex>
</template>
<script lang="js">
export default {
  data () {
    return {
      drawer: true,
      items: [
        { title: 'Personal', icon: 'person' },
        { title: 'HEX Info', icon: 'device_hub' },
        { title: 'Leader Board', icon: 'dashboard' },
        { title: 'Shop', icon: 'shop' },
        { title: 'Credits', icon: 'credit_card' },
        { title: 'Events', icon: 'event' }
      ],
      mini: true,
      right: null
    }
  }
}
</script>
<style scoped>
.imgDisplay {
  margin-left:1px;
  margin-top:50px;
}
.menu {
  height: 59px;
  top:19px;
  font-size: 30px;
  position: relative;
  color:white;
  font-family:monospace;
}
.iconDisplay {
  margin-left: -19px;
  margin-right:8px;
}
.menuDisplay {
  position: relative;
  margin-top: 220px;
  max-height: 300px;
}
.nameDisplay {
  font-size:26px;
  color: #FFEE58;
  background-size: 100px;
}
.WelcomeDisplay {
  background-color: #black;
}
.bodyDisplay {
  font-family:monospace;
  max-height: 100px;
  overflow: hidden;
  position: fixed;
}
</style>

