<template>
  <v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      fixed
      app
    >
      <v-list>
        <v-list-tile @click="right = !right">
          <v-list-tile-action>
            <v-icon>compare_arrows</v-icon>
          </v-list-tile-action
          >
          <v-list-tile-title @click='showRightDrawer()'>SwitchDrawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
</template>
<script>
import { DEFAULT_EVENT } from '@/constants/events'
export default {
  data () {
    return {
      right: false,
      rightDrawer: false,
      fixed: false
    }
  },
  methods: {
    showRightDrawer: function (state) {
      this.right = state
      this.rightDrawer = state
      this.fixed = !state
    }
  },
  created: function () {
    this.$eventHub.$on(DEFAULT_EVENT, this.showRightDrawer)
  }
}
</script>