<template>
<v-flex>
  <v-toolbar app>
    <v-flex>
     <router-link to="/" class="btnDisplay">
     <v-btn icon>
        <v-icon>home</v-icon>
        </v-btn>
          </router-link>
          </v-flex>
          <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
          <!-- @click="minivariantFunction()" -->
             <v-spacer></v-spacer>
            <v-btn icon @click="">
            <v-icon>mail</v-icon>
            </v-btn>
            <v-menu :nudge-width="50">
              <v-toolbar-title slot="activator">
                <span>Language</span>
                <v-icon light small>arrow_drop_down</v-icon>
              </v-toolbar-title>
              <v-list>
                <v-list-tile v-for="list in lists" :key="list" @click="">
                  <v-list-tile-title v-text="list"></v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
            <v-btn icon @click="">
            <v-icon>search</v-icon>
            </v-btn>
            <v-btn flat color="primary" dark @click.native.stop="dialog = true">Sign Up</v-btn>
            <v-btn flat color="primary" dark @click.native.stop="dialog1 = true">Log In</v-btn>
        <!-- <v-btn flat color="primary" dark @click.stop="signIn = true">Sign In</v-btn>
        <v-btn flat color="accent" dark @click.stop="login = true">
          Log In</v-btn> -->
        <v-btn icon @click="">
            <v-icon>menu</v-icon>
        </v-btn>
    </v-toolbar>
      <v-layout>
        <v-dialog v-model="dialog" max-width="620" class="btnView">
          <v-card>
            <v-card-title class="headline">Sign up for Free</v-card-title>
            <v-card-text>Start your Future here</v-card-text>
              <v-card-actions>
              <v-flex xs12 sm6 offset-sm0>
                <v-text-field outline label="First Name" v-model="firstName"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 offset-sm0>
                <v-text-field label="Last Name" v-model="lastname"></v-text-field>
                </v-flex>
              </v-card-actions>
              <v-spacer></v-spacer>
              <v-card-actions>
                <v-flex xs12 sm12 offset-sm0>
                  <v-text-field solo-inverted label="Registration Number" v-model="last"></v-text-field>
                </v-flex>
              </v-card-actions>
              <v-card-actions>
                <v-flex xs12 sm12 offset-sm0>
                  <v-text-field solo-inverted label="Email Address" v-model="last"></v-text-field>
                </v-flex>
              </v-card-actions>
              <v-card-actions>
                <v-flex xs12 sm12 offset-sm0>
                  <v-text-field solo color="purple" label="Password" v-model="  last"></v-text-field>
                </v-flex>
              </v-card-actions>
              <v-card-actions>
                <v-flex xs12 sm2 offset-sm2 class="btn1">
                  <v-btn large flat color="purple">GET STARTED</v-btn>
                </v-flex>
              </v-card-actions>
            </v-card>
        </v-dialog>
      </v-layout>
       <v-layout>
        <v-dialog v-model="dialog1" max-width="620">
          <v-card>
            <v-card-title class="headline">Welcome back !</v-card-title>
              <v-spacer></v-spacer>
              <v-card-actions>
                <v-flex xs12 sm12 offset-sm0>
                  <v-text-field solo-inverted label="Email Address" v-model="last"></v-text-field>
                </v-flex>
              </v-card-actions>
              <v-card-actions>
                <v-flex xs12 sm12 offset-sm0>
                  <v-text-field solo-inverted label="Password" v-model="  last"></v-text-field>
                </v-flex>
              </v-card-actions>
               <v-card-actions>
                <v-flex xs12 sm12 class="btn2">
                  <v-btn flat color="orange">Log In</v-btn>
                </v-flex>
              </v-card-actions>
            </v-card>
        </v-dialog>
      </v-layout>
  </v-flex>
</template>
<script>
// import { DEFAULT_EVENT } from '@/constants/events'
export default {
  data () {
    return {
      dialog: false,
      dialog1: false,
      loading: false,
      items: [
        { title: 'Home', icon: 'library_books' },
        { title: 'About', icon: 'question_answer' }
      ],
      lists: [
        'English', 'Japanese', 'Korean', 'Chinese'
      ]
    }
  }
  // methods: {
  //   // rightFunction: function (state) {
  //   //   this.$eventHub.$emit(DEFAULT_EVENT, state)
  //   // }
  // }
}
</script>
<style>
.btnDisplay {
  color:white;
}
.btn {
  margin-left: 5px;
}
.btn1 {
  margin-left: 400px;
}
.btn2 {
  margin-left: 480px;
}
.btnView {
  color:purple;
}
.buttonDisplay {
  margin-left: 20px;
  height: 300px;
}
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>