<template>  
<v-flex>
  <v-container class="textsDisplay">
    <v-layout row wrap>
      <v-flex >
        <v-subheader class="red--text">Update</v-subheader>
      </v-flex>
    </v-layout>
    <v-layout>
    	<v-flex xs12 sm6>
        <v-subheader >Account Holder Field:</v-subheader>
      </v-flex>
      <v-flex xs12 sm6>
        <v-subheader>Reg. Number Field:</v-subheader>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <v-subheader>Date:</v-subheader>
      </v-flex>
      <v-flex>
        <v-subheader >Message:</v-subheader>
      </v-flex>
    </v-layout>
  </v-container>
</v-flex>
</template>
<script>
  export default {
    data () {
      return {
      }
    }
  }
</script>
<style>
.textsDisplay {
  height: 140px;
  margin-left: 5px;
  margin-top: 5px; 
  margin-bottom: 10px;
  padding: 2px;
  font-family: monospace;
  font-size: 35px;
}
.red--text {
  font-style: italic;
  text-decoration: underline;
  font-size: 25px;
}
</style>