<template>
  <v-flex>
  <v-app>
    <minivariant></minivariant>
    <toolbar></toolbar>
    <v-content>
    <v-flex>
    <v-card>
    <v-card>
     <updates-text-field></updates-text-field>
     </v-card>
     <v-card dark>
     <horizon></horizon>
     </v-card>
    </v-card>
    <slide-y-transition mode="out-in">
    <router-view>
    <home></home>
    <personal></personal>
    <hex-info></hex-info>
    <leader-board></leader-board>
    <shop></shop>
    <credits></credits>
    <events></events>
    </router-view>
    </slide-y-transition>
    </v-flex>
    </v-content>
    <right-drawer></right-drawer>
    <footer></footer>
  </v-app>
  </v-flex>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>